<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="bogradt.sztear" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".SplashScreen"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="bogradt.sztear.MAINACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".PreliminaryInformationsActivity"
            android:label="@string/title_activity_preliminary_informations"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".dialogs.DialogInfoActivity"
            android:icon="@drawable/info_icon"
            android:theme="@style/MyTitledActivityDialogTheme"
            android:label="@string/title_activity_dialog_info">
        </activity>

        <activity android:name=".apps.ImageTargets.ImageTargets">
        </activity>
        <activity android:name=".apps.CloudRecognition.CloudRecognition">
        </activity>
        <activity android:name=".apps.CylinderTarget.CylinderTarget">
        </activity>
        <activity android:name=".apps.ExtendedTracking.ExtendedTracking">
        </activity>
        <activity android:name=".apps.FrameMarkers.FrameMarkers">
        </activity>
        <activity android:name=".apps.TextRecognition.TextRecognition">
        </activity>
        <activity android:name=".apps.UserDefinedTarget.UserDefinedTarget">
        </activity>
        <activity android:name=".apps.VirtualButtons.VirtualButtons">
        </activity>
    </application>

</manifest>
